<h1>Ta configuration :</h1>

<div class="alert alert-{{ status == 'Terminée' ? 'succes' : 'light' }} container-lg mt-5">
    <p>Statut de la demande : {{ status }}</p>
    <p>Télécharger ton archive d'origine (uploadée le {{ archive.uploadDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}) : </p>
    <a href="upload/config/zip/{{ folder }}.{{ archiveExtension }}" class="link-dark text-decoration-none"
       target="_blank">📁 {{ folder }}.{{ archiveExtension }}</a><br>
    <a href="/archive/delete/{{ archive.id }}" class="btn btn-danger mt-3">Supprimer ma configuration ?</a>
</div>

<div class="accordion accordion-dark" id="accordionConfigUser">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button accordion-header-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Contenu de ta configuration :</button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionConfigUser">
            <div class="accordion-body">
                <table id="extractTable">
                    <thead>
                    <tr>
                        <th scope="col">Nom du fichier</th>
                        <th scope="col">Lien</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in configFiles %}
                        <tr>
                            <td>{{ file }}</td>
                            <td><a href="upload/config/extract/{{ folder }}/{{ file }}"
                                   class="link-light text-decoration-none" target="_blank">📁 Télécharger</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
