{% extends 'global/base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<section id="edit-account">
    <div class="container-lg py-5 text-white">
        <h1>Modifie les informations de ton compte</h1>
        {{ form_start(userForm) }}
        <div class="form-group my-3">
            {{ form_row(userForm.username) }}
        </div>
        <div class="form-group my-3">
            {{ form_row(userForm.email) }}
        </div>
        <div class="form-group my-3">
            {{ form_row(userForm.submit) }}
        </div>
        {{ form_end(userForm) }}
    </div>
</section>
{% endblock %}
